* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-top: 10px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
}

.btn:hover {
  background-color: #383737;
}

.btn--shop-now {
  font-size: 18px;
  padding: 16px 24px;
}

.btn--cart {
  font-size: 14px;
  padding: 8px 8px;
}

.header-text--box {
  width: 440px;
  align-self: center;
}

.header-text--heading {
  margin-bottom: 24px;
}

.header-text--content {
  margin-bottom: 32px;
}

.hero-img {
  width: 440px;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.feature-section--header {
  margin-bottom: 36px;
}

.feature-section--title {
  margin-bottom: 14px;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  margin-bottom: 48px;
}

.testimonial-section--image {
  width: 415px;
}

.testimonial-section--header {
  margin-bottom: 16px;
}

.testimonial-section--text {
  margin-bottom: 16px;
}

.testimonial-section--text-box {
  align-self: center;
}

.testimonial-section--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #202020;
  color: #b7b6b6;
  padding: 16px;
}

.testimonial-section--author {
  color: #696969;
}
.best-selling--container img {
  width: 266.67px;
  max-height: 195px;
  margin-bottom: 8px;
}

.best-selling--card {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

.best-selling--Name {
  margin-bottom: 16px;
}

.best-selling--list {
  list-style: none;
  margin-bottom: 16px;
}

.best-selling--list li {
  margin-bottom: 12px;
}

.best-selling--list li:last-child {
  margin-bottom: 0;
}

.best-selling--text-box {
  margin: 24px;
}

.best-selling--laptop-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-selling--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.best-selling-section h2 {
  margin-bottom: 36px;
}

/* border radius */
img,
.testimonial-section--container,
.best-selling--card {
  border-radius: 12px;
}

.best-selling--card img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.footer-section {
  font-size: 14px;
  margin-bottom: 48px;
}

/* white-space and visual hierarch */

header,
section {
  margin-bottom: 96px;
}
