* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header-text--box {
  width: 440px;
  align-self: center;
}

.header-text--heading {
  margin-bottom: 24px;
}

.header-text--content {
  margin-bottom: 24px;
}

.hero-img {
  width: 440px;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-bottom: 80px;
}

.feature-section--header {
  margin-bottom: 48px;
}

.feature-section--title {
  margin-bottom: 16px;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin-bottom: 48px;
}

.testimonial-section--image {
  width: 440px;
}

.testimonial-section--header {
  margin-bottom: 16px;
}

.testimonial-section--text {
  margin-bottom: 16px;
}

.testimonial-section--text-box {
  align-self: center;
}

.testimonial-section--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 48px;
}
.best-selling--container img {
  max-width: 266.67px;
  max-height: 195px;
  margin-bottom: 16px;
}

.best-selling--Name {
  margin-bottom: 16px;
}

.best-selling--list {
  list-style: none;
  margin-bottom: 16px;
}

.best-selling--list li {
  margin-bottom: 16px;
}

.best-selling--list li:last-child {
  margin-bottom: 0;
}

.best-selling--text-box {
  margin: 24px;
}

.best-selling--laptop-price {
  display: flex;
  justify-content: space-between;
}

.best-selling--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin-bottom: 48px;
}
